version: '3.7'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./server:/server
      - /server/node_modules
    ports:
      - 3001:$SERVER_PORT
    depends_on:
      - mongo
    links:
      - mongo
    env_file: .env
    environment: 
      - MONGO_HOSTNAME=$MONGO_HOSTNAME
      - MONGO_PORT=$MONGO_PORT
      - SERVER_PORT=$SERVER_PORT
      - JWT_SECRET=$JWT_SECRET

  client:
    build:
      context: ./client/
      dockerfile: Dockerfile
    volumes:
      - ./client:/client
      - /client/node_modules
    ports:
      # exposed:container
      - 3000:3000
    links: 
      - server
    environment: 
      - CHOKIDAR_USEPOLLING=true

  mongo:
    image: mongo
    volumes:
      - ./db:/db
    ports:
      - 27017:$MONGO_PORT
    env_file: .env